/* date input css -------------------------*/
.dateinputpicker
{
    position: absolute;

    background-color: #EFEFEF;
    border: 1px solid #E5E5E5;

    padding: 15px 20px;
}

.dateinputpicker *
{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.dateinputpicker .arrow {
    position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 14px solid #EFEFEF;
    top: -10px;
    left: 50%;
}

.dateinputpicker .arrow.arrow_outer {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 24px solid #E5E5E5;
    top: calc(-10px - 2px);
    left: calc(50% - 5px);

    z-index: -1;
}

.dateinputpicker .control-top:before,
.dateinputpicker .control-top:after {
    content: " ";
    display: table;
}

.dateinputpicker .control-top:after {
    clear: both;
}

.dateinputpicker a {
    text-decoration: none;
}

.dateinputpicker .control-top .prev {
    float: left;
}

.dateinputpicker .control-top .next {
    float: right;
}

.dateinputpicker #containerCalendar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dateinputpicker #containerCalendar th,
.dateinputpicker #containerCalendar td {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    text-align: right;
}

.dateinputpicker #containerCalendar[data-view-type="DAY"] th,
.dateinputpicker #containerCalendar[data-view-type="DAY"] td {
    width: calc(100% / 7);
}

.dateinputpicker #containerCalendar[data-view-type="MONTH"] th,
.dateinputpicker #containerCalendar[data-view-type="MONTH"] td {
    width: calc(100% / 4);
    text-align: center;
    padding: 4px 3px;
}

.dateinputpicker #containerCalendar thead #hd-title {
    text-align: center;
    padding: 10px 0;
}

.dateinputpicker #containerCalendar tbody td:hover {
    background-color: #08d894;
}

.dateinputpicker #containerCalendar .outside-day {
    color: #BBB;
}

.dateinputpicker #containerCalendar .outside-day.weekend-day {
    color: #ffafaf;
}

.dateinputpicker #containerCalendar .weekend-day {
    color: #F00;
}

.dateinputpicker #containerCalendar .selected-day {
    background-color: #08d894; !important;
}
